/* Global */
.hidden {
    display: none;
}
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
}

/* Button - states */
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

/* Button - sizes */
.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

/* Button - custom */
.pure-button {
    border: 3px solid white;
    margin: 20px;
}

/* Headline */
a {
    color: #1F8DD6;
}

.gb-success-single {
    border: 1px solid #eee;
    padding: 0px;
}

.gb-success-single p{
    padding: 0px;
    margin: 0px;
}

.gb-success-single h5 {
    margin-bottom: 5px;
}

/* Textarea */
textarea {
    width: 100%;
    resize: none;
}

/* GB submit page */
div.splash#submit-gb-container {
    top: 0%;
}
#gb-select-friend {
    margin-top: 40px;
}

.splash#submit-gb-container {
    margin-top: 20%;
}

/* Image */
.circular {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    /*background: url(http://graph.facebook.com/heron.yang/picture?type=normal) no-repeat;*/
    background: url(../../img/common/user.png) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

/* Footer */
.footer a {
    color: #666;
}

/* Different Sizes */
/* sm */
@media screen and (min-width: 35.5em) {
}
/* md */
@media screen and (min-width: 48em) {
    .gb-success-single {
        border: 1px solid #eee;
        padding: 0px 2em;
    }
    .splash#submit-gb-container {
        margin-top: auto;
    }
}
/* lg */
@media screen and (min-width: 64em) {
}
/* xl */
@media screen and (min-width: 80em) {
}
